.post {
    width: 46.5em;
    height: 10em;
    border-radius: 17px;
    padding-bottom: 0.5em;
    background-color: #EEEFF9;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    margin-bottom: 2em;
}

.post .row {
    margin: 0;
}

.post .post-title {
    margin-top: 0.75em;
}

.post .btn-second {
    background-color: #6371E8;
    font-size: 12px;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 1em;
    height: 2em;
    color: white;
    border-radius: 10px;
}

.post .btn-second:hover {
    background-color: #3f4dc7;
}

.post .btn-third {
    background-color: #cccdeb;
    font-size: 11px;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

.post .btn-third:hover {
    background-color: #a7a9d8;
}

.post h5 {
    color: #727272;
    margin: 0;
}

.post .post-stats {
    position:absolute;                  
    bottom: 0.5em;
}